{:kotoba.app/id "cloud.itonami.isic-4663", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreidlfywdmg3iblbfw2gbxpcszoh2runiga5d3ombsk346ajq2aof7i", :kotoba.app/embed-url "ipfs://bafkreidlfywdmg3iblbfw2gbxpcszoh2runiga5d3ombsk346ajq2aof7i", :published {:archive "https://kotobase.net/ipfs/bafkreidlfywdmg3iblbfw2gbxpcszoh2runiga5d3ombsk346ajq2aof7i", :size 5206, :put-status 201, :get-status 200, :at "2026-08-15T13:37:56.207Z"}}
